.contatos{
    background-color: var(--color-primary-12);
    width: 100%;
}
.footer-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 8% 24px 8%;
}
.copyright{
    color: var(--color-primary-14);
    font-weight: 500;
    font-size: 18px;
    padding: bottom 20px;
}
.social-media-btn a{
    color: var(--color-primary-14);
    font-size: 25px;
}
@media screen and (max-width: 600px){
    .contatos{
        width: auto ;
    }
}